body {
    padding: 0;
    margin: 0;
    border: 0;
    background-color: #FFF8E7;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Ubuntu Condensed', sans-serif;
}

h1 { font-size: 40px; }

h2 { font-size: 18px; }

p, ul, li, a, label {
    font-family: 'Raleway', sans-serif;
}
  
nav {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    background-color: #2dde98;
    padding: 15px;
    gap: 5px;
    border-top: 10px solid blue;

    & > div {
        border-radius: 5px;
        padding: 8px;
    }
        
    & #logo {
        font-size: 32px;
        font-weight: 900;
        line-height: 0;
    }

    & #navbar {
        
        & ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
        }

        li {
            float: left;

            & a {
                display: block;
                text-align: center;
                padding: 16px 16px;
                text-decoration: none;
                color: black;
                font-weight: bold;
                border: 2px solid #2dde98;
                border-radius: 12px;
            }
            
            & a:hover {
                border: 2px solid black;
            }
        }
    }
}
  
article, #title {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100%;
    padding: 15px;
    margin: auto;
    width: 60%;
    gap: 20px;
    padding-top: 20px;

    & > div {
        padding: 8px;
        width: 50%;

        background-color: white;
        border-radius: 12px;
        padding: 20px;

        box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;

        & a {
            color: #2dde98;
        }

        & img {
            max-width: 100%;
        }
    }
}  

footer {
    background-color: black;
    height: 80px;

    & p {
        padding-top: 30px;
        font-weight: 900;
        text-align: center;
        color: white;
        font-size: 16px;
    }
}

input {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    display: block;
}