/* Layers moeten exact juiste volgorde hebben. */
.layer_grass {
  z-index: 1;
}
.layer_sign_pole {
  z-index: 2;
}
.layer_sign_two {
  z-index: 3;
  width: 100%;
  height: auto;
  padding-left: 30px;
}
.layer_sign_one {
  z-index: 3;
  width: 100%;
  height: auto;
  padding-top: 70px;
}

/* Hoogste Z-index want anders niet klikbaar... */
a {
  z-index: 1000;
  width: 12%;
  top: 58%;
  left: 62%;
  position: absolute;
  cursor: pointer;
  border: none;
  background: none;
  transition: transform 1s ease-in-out;
}
a:hover {
  transform: rotate(6deg);
}