/* Layers moeten exact juiste volgorde hebben. */
.layer {

    &_grass {
        z-index: 1;
    }

    &_path {
        z-index: 2;
    }

    &_building {
        z-index: 3;
    }

    &_pole {
        z-index: 4;
    }
    
    &_sign {
        z-index: 5;
        animation: windSign 2s ease-in-out infinite alternate;
    }
}

@keyframes windSign {
    0%, 100% {
        transform: rotate(-0.5deg);
    }
    50% {
        transform: rotate(0.5deg);
    }
}